.App {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;  
}

.App-header {
  height: 70px;
  padding: 10px;
  color: #6a6f6a;
}

.App-title { 
  font-size: 2em;
}

.app-content {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}
